<div class="main-layout">
  <div [hidden]="loggedIn">
    <form class="login-form" (ngSubmit)="onSubmit()" >
      <mat-form-field class="example-full-width">
        <input matInput placeholder="App Url" [(ngModel)]="loginModel.appUrl" name="appUrl">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" [(ngModel)]="loginModel.login" name="login">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" [(ngModel)]="loginModel.password" name="password">
      </mat-form-field>

      <button mat-raised-button color="primary">Login</button>
    </form>
  </div>
  <div [hidden]="!loggedIn">
    You are successfully logged in
  </div>
</div>
